<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiscus.internship.sudutnegeri">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".SudutNegeri"
        android:allowBackup="true"
        android:icon="@drawable/logo_blue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_blue"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="sudut_negeri" />

        <activity
            android:name=".ui.splashscreen.SplashscreenActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.landing.LandingActivity"
            android:label=""
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Splashscreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.register.RegisterActivity"
            android:theme="@style/Splashscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.about.AboutActivity" />

        <activity android:name=".ui.dashboard.DashboardActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.admin.AdminActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.user.UserActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.project.ProjectActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Purple"/>

        <activity
            android:name=".ui.recentchat.RecentChatActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Purple"/>

        <activity
            android:name=".ui.addproject.AddProjectActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>