<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiscus.internship.sudutnegeri">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lsn_biru500p"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lsn_biru500p"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.Splashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LandingPage.LandingActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Splashscreen" >
        </activity>
        <activity android:name=".ui.Add.AddActivity" />
        <activity
            android:name=".ui.AddUser.AddUserActivity"
            android:theme="@style/Splashscreen"></activity>
        <activity android:name=".ui.AboutActivity"
            android:theme="@style/NoShadow"></activity>
    </application>

</manifest>